@model PagedList.IPagedList<DAL.Models.Empresa>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<hr />

@using (Html.BeginForm("NotificarEmpresas", "Listados", FormMethod.Get, new { @class = "col-md-6" }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="idSeleccionados" name="idSeleccionados" value="" />

    <input type="submit" class="btn btn-primary" value="Imprimir" id="btnNotificarEmpresas" style="display:none" />
}

@using (Html.BeginForm("IndexEmpresa", "Listados", FormMethod.Get, new { @class = "col-md-12" }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.DropDownList("idProvincia", null, new { @class = "selectpicker", data_live_search = true, title = "seleccione una Provincia..." })
                                </div>
                                <div class="col-sm-4">
                                    @Html.DropDownList("idLocalidad", null, new { @class = "selectpicker", data_live_search = true, title = "seleccione una ciudad..." })
                                </div>
                                @*<div class="col-sm-4">
                                        @Html.DropDownList("idActividad", null, new { @class = "selectpicker", data_live_search = true, title = "seleccione una Actividad..." })
                                    </div>*@
                                <input type="hidden" name="sortOrder" id="sortOrder" value="@ViewBag.CurrentSort" />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4" style="display:inline-block">
                                    <label for="CantMinEmpleados" style="margin:5px">Cant. Min. de Empleados</label>
                                    <input type="number" class="form-control" name="CantMinEmpleados" value="@ViewBag.CantMinEmpleados" placeholder="Cant. Min. de Empleados" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-right" style="display:inline-block">
                        <div style="display:inline-block">
                            @if (ViewBag.SearchType == 1)
                            {
                                <input type="radio" checked name="searchType" value="1" />
                            }
                            else
                            {
                                <input type="radio" name="searchType" value="1" />
                            }
                            <label for="SearchString" style="margin:5px"> Buscar por Razon Social: </label><br />
                            @if (ViewBag.SearchType == 2)
                            {
                                <input type="radio" checked name="searchType" value="2" />
                            }
                            else
                            {
                                <input type="radio" name="searchType" value="2" />
                            }
                            <label for="SearchString" style="margin:5px"> Buscar por Cuit: </label>
                        </div>
                        <div style="display: inline-block">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, null, new { @Class = "form-control", style = "width:200px;" })
                        </div>
                        <input type="submit" value="Buscar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div style="display:inline-block">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Imprimir <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Imprimir Empresas", "ImprimirEmpresas", "Listados", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.searchString, searchType = ViewBag.SearchType, IdLocalidadSeleccionada = ViewBag.IdLocalidadSeleccionada, IdProvinciaSeleccionada = ViewBag.IdProvinciaSeleccionada, IdActividadSeleccionada = ViewBag.IdActividadSeleccionada, CantMinEmpleados = @ViewBag.CantMinEmpleados }, new { @class = "btn", target = "_blank" })</li>
                    <li>@Html.ActionLink("Imprimir Empleados", "ImprimirEmpleadosPorEmpresas", "Listados", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.searchString, searchType = ViewBag.SearchType, IdLocalidadSeleccionada = ViewBag.IdLocalidadSeleccionada, IdProvinciaSeleccionada = ViewBag.IdProvinciaSeleccionada, IdActividadSeleccionada = ViewBag.IdActividadSeleccionada, CantMinEmpleados = @ViewBag.CantMinEmpleados }, new { @class = "btn", target = "_blank" })</li>
                    <li>@Html.ActionLink("Imprimir Afiliados", "ImpresionAfiliadosPorEmpresas", "Listados", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.searchString, searchType = ViewBag.SearchType, IdLocalidadSeleccionada = ViewBag.IdLocalidadSeleccionada, IdProvinciaSeleccionada = ViewBag.IdProvinciaSeleccionada, IdActividadSeleccionada = ViewBag.IdActividadSeleccionada, CantMinEmpleados = @ViewBag.CantMinEmpleados }, new { @class = "btn", target = "_blank" })</li>
                    @*<li>@Html.ActionLink("Imprimir Extenso", "ImpresionEmpresasExt", "Listados", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.searchString, IdLocalidadSeleccionada = ViewBag.IdLocalidadSeleccionada, IdProvinciaSeleccionada = ViewBag.IdProvinciaSeleccionada, IdActividadSeleccionada = ViewBag.IdActividadSeleccionada }, new { @class = "btn", target = "_blank" })</li>*@
                </ul>
            </div>
        </div>
    </div>
    <br />
}



<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Razon Social", "IndexEmpresa", new { sortOrder = ViewBag.RazonSocialSortParm, currentFilter = ViewBag.CurrentFilter, idLocalidad = ViewBag.IdLocalidadSeleccionada, IdProvincia = ViewBag.IdProvinciaSeleccionada, IdActividad = ViewBag.IdActividadSeleccionada })
        </th>
        <th>
            @Html.ActionLink("Nombre de Fantasia", "IndexEmpresa", new { sortOrder = ViewBag.NombreFantasiaSortParm, currentFilter = ViewBag.CurrentFilter, idLocalidad = ViewBag.IdLocalidadSeleccionada, IdProvincia = ViewBag.IdProvinciaSeleccionada, IdActividad = ViewBag.IdActividadSeleccionada })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Cuit)
        </th>
        <th>
            @Html.DisplayName("Actividad")
        </th>
        <th>
            @Html.ActionLink("Localidad", "IndexEmpresa", new { sortOrder = ViewBag.LocalidadSortParm, currentFilter = ViewBag.CurrentFilter, idLocalidad = ViewBag.IdLocalidadSeleccionada, IdProvincia = ViewBag.IdProvinciaSeleccionada, IdActividad = ViewBag.IdActividadSeleccionada })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FechaAltaEmpresa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" class="empresasANotificar" value="@item.IdEmpresa" name="idSeleccionados[]" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAltaEmpresa)
            </td>
            <td>
                <div class="mytooltip tooltip-effect-4">
                    <a href="@Url.Action("DetailsEmpresa", "Listados",new { id = item.IdEmpresa})" class="glyphicon glyphicon-plus"></a>
                    <span class="tooltip-content5 tooltip-item" style="color:black">Detalles</span>
                </div>
                <div class="mytooltip tooltip-effect-4">
                    <a href="@Url.Action("NotificarEmpresa", "Listados",new { id = item.IdEmpresa})" class="glyphicon glyphicon-envelope"></a>
                    <span class="tooltip-content5 tooltip-item" style="color:black">Notificar</span>
                </div>
            </td>
        </tr>
    }

</table>

<div class="col-md-3">
    <input type="button" class="btnNotificarEmpresas btn btn-default" value="Notificar" />
</div>
<div class="col-md-3">
    <a class="btn btn-default" href="@Url.Action("NotificarEmpresas", new { idSeleccionados = "TodasLasEmpresas" })">Notificar a Todas Las Empresas</a>
</div>

<br />
<span class="clearfix"></span>
<div style="position :relative;left: 40%;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("IndexEmpresa",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, idLocalidad = ViewBag.IdLocalidadSeleccionada, IdProvincia = ViewBag.IdProvinciaSeleccionada, IdActividad = ViewBag.IdActividadSeleccionada }))
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#idProvincia").change(function () {
        GetLocalidades();
    })

    function GetLocalidades(){
        $("#idLocalidad").empty();
        $("#idLocalidad").selectpicker('refresh');
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '@Url.Action("GetLocalidades", "Localidades")',
            data: {
                IdProvincia: $("#idProvincia").val()
            },
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, data) {
                    $("#idLocalidad").append('<option value="'
                        + data.IdLocalidad + '">'
                        + data.Nombre + '</option>');
                });
                $("#idLocalidad").selectpicker('refresh');
            },
            error: function (ex) {
                alert('Selecciona una Provincia Valida.');
            }
        });
    };
</script>