<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Empresas/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Areas/Empresas/Content/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- animation CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/animate.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/css/style.css" />
    <!-- color CSS -->
    <link href="~/Areas/Empresas/Content/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- bootstrap-select CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <!-- bootstrap-time-picker CSS-->
    <link rel="stylesheet" href="~/Areas/Empresas/Content/plugins/bower_components/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap-datepicker Javascript-->
    <link rel="stylesheet" href="~/Areas/Administrador/Content/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <style>
        .transition {
            -webkit-transform: scale(1.6);
            -moz-transform: scale(1.6);
            -o-transform: scale(1.6);
            transform: scale(1.6);
        }

        img {
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
        }

        .awesome-container {
            min-height: 50px;
            position: relative;
            opacity: 1;
            top: 0;
        }

            .awesome-container input {
                position: absolute;
                /*width: 100%;*/
                /*border: transparent !important;*/
            }

            .awesome-container .input-field {
                position: absolute;
                overflow: hidden;
                /*height: 100%;
                width: 100%;
                top: 4px !important;*/
                margin-top: 0;
            }

                /*.awesome-container label {
                padding-left: 10px;
            }*/

                .awesome-container .input-field label.active {
                    font-size: 0.7rem;
                    -webkit-transform: translateY(-140%);
                    transform: translateY(-70%);
                    color: #00aeef !important;
                }

            .awesome-container input[type=text]:focus:not([readonly]) {
                border-bottom: 1px solid transparent !important;
                box-shadow: 0 1px 0 0 transparent !important;
            }

        .awesome-menu {
        }

            .awesome-menu ul.right {
                margin: 10px;
            }

            .awesome-menu i {
                border-radius: 50px;
                margin: 0;
            }

                .awesome-menu i:hover {
                    color: #333;
                }

        .awesome-results {
            width: 20vh;
            position: absolute;
            z-index: 10;
            background-color: #f2f2f2;
            text-align: center;
            display: none;
        }

            .awesome-results li:hover {
                background: #eee;
                cursor: pointer;
            }

        .awesome-status {
            margin-left: 35px;
            position: relative;
            top: 8px;
            padding: 5px 10px;
            background: #eee;
        }

            .awesome-status .badge {
                display: inline-block;
                padding: 4px 8px;
                font-size: 11px !important;
                color: #fff !important;
                border-radius: 15px;
                position: relative;
            }

        .awesome-workflows {
        }

        .dropdown-content {
            display: none;
            right: 0;
            top: 20px;
            z-index: -1;
            transition-delay: .1s;
        }

            .dropdown-content li a {
                color: #333;
                font-size: .8em !important;
            }

        .block {
            display: block;
        }

        .show-dropdown {
            opacity: 1;
            top: 50px;
        }

        .toggle-search {
            top: -50px;
            opacity: 0;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 100;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top m-b-0">
                <div class="navbar-header">
                    <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                    <div class="top-left-part"><a class="logo" href="~/Empresas/home/index"><b><img src="~/Areas/Empresas/Content/images/XindicoWeb-isologo.png" alt="home" /></b><span class="hidden-xs"><img src="~/Areas/Empresas/Content/images/XindicoWeb-texto.png" alt="home" /></span></a></div>
                    <ul class="nav navbar-top-links navbar-left hidden-xs">
                        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
                <!-- /.navbar-header -->
            </nav>
            <!-- Left navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                    <ul class="nav" id="side-menu">
                        <li class="nav-small-cap m-t-10">--- Menú Principal</li>
                        <li><a href="~/Empresas/home/index" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">HOME</span></a></li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="A" class="linea-icon linea-elaborate fa-fw"></i> <span class="hide-menu">INSTRUCTIVO DE USO<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Importacion de Empleados", "IntructivoImportacionEmpleados", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Importacion DDJJ", "IntructivoImportacionDDJJ", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Localidades", "indexLocalidades", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Provincias", "indexProvincias", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Categorias", "IndexCategorias", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Jornadas", "IndexJornadas", "InstructivoDeUso", null, null)</li>
                                <li>@Html.ActionLink("Tabla Liquidaciones Proporcionales", "IndexLiquidacionesProporcionales", "InstructivoDeUso", null, null)</li>
                                @*<li>@Html.ActionLink("Tabla Actividades", "indexActividades", "InstructivoDeUso", null, null)</li>*@
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">EMPLEADOS<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Cargar Empleado", "create", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Empleados", "index", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Empleados de Baja", "indexBajas", "Empleados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Licencias", "index", "LicenciasEmpleados", null, null)</li>
                                <li>@Html.ActionLink("Importar Empleados", "UploadFile", "Empleados", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">AFILIADOS<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Gestionar Afiliados", "index", "Afiliados", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Afiliados de Baja", "indexBajas", "Afiliados", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="F" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">DDJJ<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Generar DDJJ", "create", "DeclaracionesJuradas", null, null)</li>
                                <li>@Html.ActionLink("Gestionar DDJJ", "index", "DeclaracionesJuradas", null, null)</li>
                                <li>@Html.ActionLink("Importar DDJJ", "UploadFile", "DeclaracionesJuradas", null, null)</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="waves-effect"><i data-icon="&#xe008;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">BOLETAS DE APORTES<span class="fa arrow"></span></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Generar Boleta", "create", "BoletaAportes", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Boleta", "index", "BoletaAportes", null, null)</li>
                                <li>@Html.ActionLink("Gestionar Boleta Especiales", "BoletasEspeciales", "BoletaAportes", null, null)</li>
                            </ul>
                        </li>
                        <li> <a href="@Url.Action("create","Reclamos", new { Area = "Empresas" })" class="waves-effect"><i data-icon="&#xe00b;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">RECLAMOS</span></a></li>

                    </ul>
                </div>
                <!-- /.right-sidebar -->
            </div>

            <div id="page-wrapper">
                <div class="container-fluid">

                    <!-- /.row -->
                    <div class="row">
                        @RenderBody()
                        <hr />
                    </div>
                    <!--row -->
                </div>

                <footer class="footer text-center"> 2019 &copy; XindicoWeb - Sistema de Generación de Boletas de Aportes - Sindicato de Empleados de Comercio de San Francisco y Zona - Desarrollado por <a href="">StartNet</a></footer>
            </div>

        </div>
        <!-- /#page-wrapper -->
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap-Select Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
    <!-- bootstrap-time-picker Javascript-->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Areas/Empresas/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Areas/Empresas/Content/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Empresas/Content/js/custom.min.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Areas/Empresas/Content/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!--Style Switcher -->
    <script src="~/Areas/Empresas/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        $(document).ready(function () {
            $('#modalInformacionImportante').modal('show');

            $('#btnNotificaciones').click(function (e) {
                e.preventDefault();
                ObtenerNotificaciones();
            });

            ObtenerCantNotificaciones();

            function ObtenerCantNotificaciones(){
                $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '@Url.Action("GetNotificaciones", "Notificaciones")',
                    context: document.body,
                    data: {

                    },
                    success: function (data) {
                        if (data == "") {
                            $('#cantNotifcaciones').text("");
                        } else {
                            $('#cantNotifcaciones').text(data.length);
                            $('#cantNotifcaciones').css('color', '#FFF')
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }

            function ObtenerNotificaciones() {
                 $.ajax({
                    type: "POST",
                    traditional: true,
                    async: false,
                    cache: false,
                    url: '@Url.Action("GetNotificaciones", "Notificaciones")',
                    context: document.body,
                    data: {

                    },
                    success: function (data) {
                        if (data == "") {
                            $('#awesome-results').hide();
                        }
                        if ($('#awesome-results > #awesome-collection').length) {
                            $('#awesome-results > #awesome-collection').remove();
                        }
                        else {
                            $('#awesome-results').append('<ul id="awesome-collection" class="collection" style="padding:10px 0px 0px 0px;list-style: none;margin: 0;"></ul>');
                            $.each(data, function (index) {
                                $('#awesome-results').show();
                                $('#awesome-results > #awesome-collection').append('<li class="collection-item" style="cursor: default;"><a href="/Empresas/Notificaciones/Detalle?id=' + data[index].ID + '" style = "padding: 10px 0px 10px 0px;background-color:#f2f2f2;display:inline-block;width: 100%;height: 100%;"><div class="col-xs-12"><p style="display:inline;color:#E61B75;">' + data[index].Titulo + '</p><br/></div></a></li>');
                            });
                            //$('#awesome-results > #awesome-collection').append('<li style="height: 20px;background-color:#c2c2c2"><label for="cantProdMostrar">Mostrar: </label><select id="cantProdMostrar" onchange="buscarProductos()"></select></li>');
                            $('#awesome-results > #awesome-collection').append('<br><li class="collection-item" style="cursor: default;background-color:#c2c2c2"><a href="/Empresas/Notificaciones/index" style = "padding: 10px 0px 10px 0px;display: inline-block;width: 100%;height: 100%;"><div class="col-xs-12"><p style="display:inline;color:#E61B75;">Ver Todos</p><br/></div></a></li>');
                            //<option value="5">5</option> <option value="10">10</option> <option value="15">15</option>
                            //if (cant == 5) {
                            //    $('#cantProdMostrar').append('<option selected value="5">5</option>')
                            //    $('#cantProdMostrar').append('<option value="10">10</option>')
                            //    $('#cantProdMostrar').append('<option value="15">15</option>')
                            //} else if (cant == 10) {
                            //    $('#cantProdMostrar').append('<option value="5">5</option>')
                            //    $('#cantProdMostrar').append('<option selected value="10">10</option>')
                            //    $('#cantProdMostrar').append('<option value="15">15</option>')
                            //} else if (cant == 15) {
                            //    $('#cantProdMostrar').append('<option value="5">5</option>')
                            //    $('#cantProdMostrar').append('<option value="10">10</option>')
                            //    $('#cantProdMostrar').append('<option selected value="15">15</option>')
                            //} else {
                            //    $('#cantProdMostrar').append('<option value="5">5</option>')
                            //    $('#cantProdMostrar').append('<option value="10">10</option>')
                            //    $('#cantProdMostrar').append('<option value="15">15</option>')
                            //}
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }
        });
        @*$('#EnviarReclamo').click(function () {
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("EnviarReclamo", "Reclamos")',
                context: document.body,
                data: {
                    Nombre: $("#Nombre").val(),
                    Empresa: $("#Empresa").val(),
                    Email: $("#Email").val(),
                    Telefono: $("#Telefono").val(),
                    Mensaje: $("#Mensaje").val()
                },
                success: function (result) {
                    if (result.resultado) {
                        $("#Nombre").val("");
                        $("#Empresa").val("");
                        $("#Email").val("");
                        $("#Telefono").val("");
                        $("#Mensaje").val("");

                        $('body').append('<span class = "alert alert-success" style="position: fixed;bottom: 50px;right: 25px;z-index:90">' + result.mensaje + '</span>')

                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 4000);
                    }
                    else {
                        $('body').append('<span class = "alert alert-danger" style="position: fixed;bottom: 50px;right: 25px;z-index:90">' + result.mensaje + '</span>')

                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 4000);
                    }
                },
                error: function (xhr) {
                    $('body').append('<span class = "alert alert-danger" style="position: fixed;bottom: 0;right: 0;z-index:90">Ocurrio un Error, por Favor intente mas tarde</span>')

                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 4000);
                }
            });
        });*@
    </script>
</body>
</html>